{% block header %}
    <form action="/create-tables" method="post" class="one_row_4_col">
        <input type="submit" value="Create Tables">
    </form>

    <form action="/delete-tables" method="post" class="one_row_4_col">
        <input type="submit" value="Delete Tables">
    </form>

    <form action="/insert-data" method="post" class="one_row_4_col">
        <input type="submit" value="Insert Data">
    </form>

    <form action="/customers" method="get" class="one_row_4_col">
        <input type="submit" value="Customers">
    </form>
{% endblock %}