{% import "blocks/macros.html" as macros %}

<html>
    <head>
        <title>Basket</title>
        {% include 'blocks/css_links.html' %}
    </head>

    <body>
        {% include 'blocks/header.html' %}

        <div class="container-fluid bg" style="height: 100%;width:100%">
            <div class="text-center">
                <h1>Basket</h1>
            </div><br><br>

            <div class="row justify-content-center align-items-center" style="width:100%">
                <div class="col-1" style="width:50%;">
                    {{ macros.products_table(products) }}
                    {{ macros.my_basket(order_items) }}
                </div>

                <div class="col-1" style="width:50%">
                    <form action="/execute-add-order-items" method="post">
                        <div class="input-group mb-3 data_input_size">
                            <span class="input-group-text" for="order_id" style="width:25%">Order ID</span>
                            <input type="text" name="order_id" id="order_id" class="form-control" value="{{order_id}}" readonly>
                        </div>
                        <div class="input-group mb-3 data_input_size">
                            <span class="input-group-text" for="product_id" style="width:25%">Product ID</span>
                            <input type="text" name="product_id" id="product_id" class="form-control" placeholder="ex. 3">
                        </div>
                        <div class="input-group mb-3 data_input_size">
                            <span class="input-group-text" for="quantity" style="width:25%">Quantity</span>
                            <input type="text" name="quantity" id="quantity" class="form-control" placeholder="ex. 4">
                        </div>
                        <button type="submit" class="btn btn-secondary">Add Product</button>
                    </form><br>

                    <form action="/remove-order-item" method="post">
                        <div class="input-group mb-3 data_input_size">
                            <span class="input-group-text" for="product_id" style="width:25%">Product ID</span>
                            <input type="text" name="product_id" id="product_id" class="form-control" placeholder="ex. 5">
                        </div>
                        <button type="submit" class="btn btn-secondary">Remove Product</button>
                    </form><br><br>

                    <form action="/update-order-item" method="post">
                        <div class="input-group mb-3 data_input_size">
                            <span class="input-group-text" for="product_id" style="width:25%">Product ID</span>
                            <input type="text" name="product_id" id="product_id" class="form-control" placeholder="ex. 5">
                        </div>
                        <button type="submit" class="btn btn-secondary">Update Quantity</button>
                    </form><br><br>
                </div>
            </div>
        </div>
        {% include 'blocks/js_src.html' %}
    </body>
</html>