<html>
    <head>
        <title>Customers</title>
        {% include 'blocks/css_links.html' %}
    </head>

    <body>
        {% include 'blocks/header.html' %}

        <div class="container-fluid bg" style="height: 100%;width:100%">
            <div class="text-center">
                <h1>Customers</h1>
            </div><br><br>

            <div class="row justify-content-center align-items-center" style="width:100%">
                <div class="col-1" style="width:50%;">
                    <table class="table table-hover" style="width: 100%">
                        <thread>
                            <tr style="font-size:20px;font-weight: bold;">
                                <th>Customer ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Billing Address</th>
                            </tr>
                        </thread>

                        <tbody>
                            {% for customer in customers %}
                            <tr style="font-size:18px;font-weight: bold;color:dimgray">
                                <td>{{ customer[0] }}</td>
                                <td>{{ customer[1] }}</td>
                                <td>{{ customer[2] }}</td>
                                <td>{{ customer[3] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-1" style="width:50%">
                    <form action="/add-customer" method="post">
                        <div class="input-group mb-3 data_input_size">
                            <span class="input-group-text" for="name" style="width:25%">Name</span>
                            <input type="text" name="name" id="name" class="form-control" placeholder="ex. Andrei Popescu" >
                        </div>
                        <div class="input-group mb-3 data_input_size">
                            <span class="input-group-text" for="email" style="width:25%">Email</span>
                            <input type="text" name="email" id="email" class="form-control" placeholder="ex. andrei.popescu@gmail.com">
                        </div>
                        <div class="input-group mb-3 data_input_size">
                            <span class="input-group-text" for="billing_address" style="width:25%">Billing Address</span>
                            <input type="text" name="billing_address" id="billing_address" class="form-control" placeholder="ex. Iasi, Aleea Pacurari, nr 20, bloc B4, scara C, ap 15">
                        </div>
                        <button type="submit" class="btn btn-secondary">Add Customer</button>
                        {% if text != '' %}
                            <p>{{ text }}</p>
                        {% endif %}
                    </form><br><br>

                    <form action="/remove-customer" method="post">
                        <div class="input-group mb-3 data_input_size">
                            <span class="input-group-text" for="customer_id" style="width:25%">Customer ID</span>
                            <input type="text" name="customer_id" id="customer_id" class="form-control" placeholder="ex. 3">
                        </div>

                        <button type="submit" class="btn btn-secondary">Remove Customer</button>
                    </form><br><br><br>

                    <form action="/update-customer" method="post">
                        <div class="input-group mb-3 data_input_size">
                            <span class="input-group-text" for="customer_id" style="width:25%">Customer ID</span>
                            <input type="text" name="customer_id" id="customer_id" class="form-control" placeholder="ex. 3">
                        </div>
                        <button type="submit" class="btn btn-secondary">Update Customer</button>
                    </form><br><br><br>
                </div>
            </div>
        </div>
        {% include 'blocks/js_src.html' %}
    </body>
</html>