<html>
    <head>
        <title>Customers</title>
    </head>

    <body>
        <h1>Customers</h1>
        <p>Customers page content</p>


        <form action="/add-customer" method="post">
            <table>
                <tr>
                    <td><label for="name">Name</label></td>
                    <td><input type="text" name="name" id="name"></td>
                </tr>
                <tr>
                    <td><label for="email">Email</label></td>
                    <td><input type="text" name="email" id="email"></td>
                </tr>
                <tr>
                    <td><label for="billing_address">Billing Address</label></td>
                    <td><input type="text" name="billing_address" id="billing_address"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Add Customer</button></td>
                </tr>
            </table>
        </form><br><br><br>

        <form action="/remove-customer" method="post">
            <label for="customer_id">Customer ID</label>
            <input type="text" name="customer_id" id="customer_id"><br>

            <button type="submit">Remove Customer</button>
        </form><br><br><br>

        <form action="/update-customer" method="post">
            <label for="customer_id">Customer ID</label>
            <input type="text" name="customer_id" id="customer_id"><br>

            <button type="submit">Update Customer</button>
        </form><br><br><br>
        
        <table border="1px">
            <thread>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Billing Address</th>
                </tr>
            </thread>

            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer[0] }}</td>
                    <td>{{ customer[1] }}</td>
                    <td>{{ customer[2] }}</td>
                    <td>{{ customer[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>