<html>
    <head>
        <title>Update Customer</title>
        {% include 'blocks/css_links.html' %}
    </head>

    <body>
        {% include 'blocks/header.html' %}
        <div class="container-fluid text-center bg" style="height: 100%;width:100%">
            <h1>Update Customer</h1>

            <form class="mx-auto" action="/execute-update-customer" method="post" style="width:50%">
                <div class="input-group mb-3 data_input_size">
                    <span class="input-group-text" for="customer_id" style="width:25%">Customer ID</span>
                    <input type="text" name="customer_id" id="customer_id" value="{{customer[0]}}" class="form-control" readonly>
                </div>
                <div class="input-group mb-3 data_input_size">
                    <span class="input-group-text" for="name" style="width:25%">Name</span>
                    <input type="text" name="name" id="name" value="{{customer[1]}}" class="form-control">
                </div>
                <div class="input-group mb-3 data_input_size">
                    <span class="input-group-text" for="email" style="width:25%">Email</span>
                    <input type="text" name="email" id="email" value="{{customer[2]}}" class="form-control">
                </div>
                <div class="input-group mb-3 data_input_size">
                    <span class="input-group-text" for="billing_address" style="width:25%">Billing Address</span>
                    <input type="text" name="billing_address" id="billing_address" value="{{customer[3]}}" class="form-control">
                </div>
                <button type="submit" class="btn btn-secondary">Update Customer</button>
            </form><br><br>

        </div>

        {% include 'blocks/js_src.html' %}
    </body>
</html>